<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de persona</div>
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Pasaporte</td>
                <td>
                    <input id="id_pasaporte"
                           name="pasaporte"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PASAPORTE}"
                           {PASAPORTE_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td>
                    <input id="id_apellidos"
                           name="apellidos"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{APELLIDOS}">
                </td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td>
                    <input id="id_nombres"
                           name="nombres"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRES}">
                </td>
            </tr>
            <tr>
                <td>Fec Nac</td>
                <td>
                    <input id="id_fec_nac"
                           name="fec_nac"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FEC_NAC}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "id_fec_nac",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_fec_nac",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td>
                    <input id="id_sexo"
                           name="sexo"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SEXO}">
                </td>
            </tr>
            <tr>
                <td>Trayectoria</td>
                <td>
                    <input type="checkbox"
                           id="id_trayectoria"
                           name="trayectoria"
                           {TRAYECTORIA_CHK}>
                </td>
            </tr>
            <tr>
                <td>Explicacion</td>
                <td>
                    <textarea id="id_explicacion"
                              name="explicacion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{EXPLICACION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Persona Tipo</td>
                <td>
                    <select id="id_persona_tipo" name="id_persona_tipo" style="width: 100%;">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: persona_tipo -->
                        <option value={ID_PERSONA_TIPO} {SELECTED_PERSONA_TIPO}>{DES_PERSONA_TIPO}</option>
                        <!-- END: persona_tipo -->
                    </select>
                </td>
            </tr>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
