.mainTable{

	border:none;
	width:100%;
	font-family: sans-serif; 
}

.tHeader{
    position:fixed;  
    background-color: #BA3131;
    top:0;  
    width:100%;
}

.tHeaderDes{    
    width:98%; 
    font-size:100%;
    font-weight: normal; 
    background-color: #BA3131;
    color:#fff;
    z-index:2001;
    border: 1px solid #fff;
}

.tHeaderX{ 
    font-size:100%;
    font-weight: bold;
    background-color: #BA3131;    
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 1px solid #fff;
}

.tablaNivel0{
    margin-top: 5%;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}



/*.tablaNivel0{
    background:#F9F9F9;
    text-align: left;
    box-shadow: 1px 2px 3px #000000;   
    border-left: 1px solid black;
}  

.tablaNivel0 th{
    color:#FFFFFF;
    background-color:#BA3131;
    text-align:center;
    font: bold 20px arial;
}

.tablaNivel0 td{
    cursor: pointer;
    color:#000000;  
    font-family: arial;
    font-style: normal;
    font-size: 15px;
}

*/
