<!-- BEGIN: main -->
<div id='sub_titulo'>Ajax - Llenar Combo</div>                                          
<div style="width:100%; align:center;">	                        
    <table class="tabla_grid" style="width: 25%" align='center'>
        <tr>
            <th colspan="2"><b><i>Seleccione...</i></b></th>
        </tr>
        <tr>
            <td>
                <select id="id_estado" 
                        name="estado" 
                        style="width: 100%" 
                        data-validation='select'
                        onchange="sendToFillCombo(this.value)">
                    <option value=0>Estado...</option>
                    <!-- BEGIN: combo -->
                    <option value={ID}>{DESCRIPCION}</option>
                    <!-- END: combo -->
                </select> 
            </td>
        </tr>  
        <tr>
            <td>
                <select id="id_municipio" 
                        name="municipio" 
                        style="width: 100%" 
                        data-validation='select'>
                    <option value=0>Municipio...</option>                                        
                </select> 
            </td>
        </tr> 
    </table>                           
</div>
<div align="center">
    <table class="botonera">
        <tr>
            <td>  
                {BUTTON_EXIT}  
                <button id="id_limpiar" type=button onClick="initObjs(document.getElementById('contenido'));">
                    <img src="../../../../../{APPORG}/img/deshacer.png" class="accion" align='absmiddle'> Limpiar
                </button>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
