<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Facturas</div>
{BUTTON_ADD}
<table id="tablaRows" class="display" >
    <thead>	
        <tr>
            <th>N° Factura</th><th>Fecha</th><th>Cliente</th><th>Acción(es)</th>
        </tr>               
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>	
            <td align="center">{NUMERO}</td>  
            <td align="center">{FEC_FAC}</td>
            <td align="left">{CLIENTE}</td> 				
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}                                                    
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
