<!-- BEGIN: main -->
<div id='sub_titulo'>Mostrar y Ocultar con Efectos</div>                                          
<div>
    <table width='100%' align='center'>
        <tr>
            <td>        
                Por defectos <input type="radio" id="id_efectos" name="efectos" value="default" checked>
                Persiana     <input type="radio" id="id_efectos" name="efectos" value="blind"    > 
                Rebotar      <input type="radio" id="id_efectos" name="efectos" value="bounce"   > 
                Clip         <input type="radio" id="id_efectos" name="efectos" value="clip"     > 
                Caer         <input type="radio" id="id_efectos" name="efectos" value="drop"     > 
                Explotar     <input type="radio" id="id_efectos" name="efectos" value="explode"  > 
                Plegar       <input type="radio" id="id_efectos" name="efectos" value="fold"     > 
                Culminante   <input type="radio" id="id_efectos" name="efectos" value="highlight"> 
                Soplo        <input type="radio" id="id_efectos" name="efectos" value="puff"     > 
                Vibración    <input type="radio" id="id_efectos" name="efectos" value="pulsate"  > 
                Escala       <input type="radio" id="id_efectos" name="efectos" value="scale"    > 
                Sacudir      <input type="radio" id="id_efectos" name="efectos" value="shake"    > 
                Tamaño       <input type="radio" id="id_efectos" name="efectos" value="size"     > 
                Diapositiva  <input type="radio" id="id_efectos" name="efectos" value="slide"    >                                         
            </td>
        </tr>
    </table>
</div>
<div id="id_div" style="display:none;">
    <div>
        <p style="width:100%; align:center;">
            Petroleum engineers design and supervise the process of getting oil and natural 
            gas out of the ground and into storage tanks. Most of these engineers work for 
            oil companies, but some work for firms that sell equipment and tools to oil 
            companies. Others teach in colleges and universities or serve as consultants to 
            industry and government. When a site for a well is selected, petroleum engineers 
            decide how to drill. They choose equipment and supervise workers who install and 
            operate it. If oil or gas is found, petroleum engineers test samples of the 
            oil-bearing rock layers. Then they test the reservoir where the oil or gas is 
            located to see whether the oil or gas will flow by itself or whether it must be 
            forced from the ground. The results of these tests help petroleum engineers choose 
            the best methods and equipment for the job. Petroleum engineers must bring the oil 
            or gas to the surface as cheaply and safely as possible. Because oil and salt 
            water are often found together, the engineers must also find ways of returning the 
            salt water to the ground. If the salt water is spilled, it can damage crops and 
            plants. When they are involved with offshore drilling, petroleum engineers try to 
            prevent costly spills that waste oil and pollute water and shorelines. They also 
            supervise the early stages of natural gas processing. Because petroleum engineers 
            know what it costs to produce oil and gas, some are employed by banks that lend 
            money to oil companies. Others work for government agencies that regulate oil 
            production. Experienced petroleum engineers help with research aimed at finding 
            ways to recover a greater percentage of the oil and natural gas that exists in
            reservoirs.Eengineers design and supervise the process of getting oil and natural 
            gas out of the ground and into storage tanks. Most of these engineers work for 
            oil companies, but some work for firms that sell equipment and tools to oil 
            companies. Others teach in colleges and universities or serve as consultants to 
            industry and government. When a site for a well is selected, petroleum engineers 
            decide how to drill. They choose equipment and supervise workers who install and 
            operate it. If oil or gas is found, petroleum engineers test samples of the 
            oil-bearing rock layers. Then they test the reservoir where the oil or gas is 
            located to see whether the oil or gas will flow by itself or whether it must be 
            forced from the ground. The results of these tests help petroleum engineers choose 
            the best methods and equipment for the job. Petroleum engineers must bring the oil 
            or gas to the surface as cheaply and safely as possible. Because oil and salt 
            water are often found together, the engineers must also find ways of returning the 
            salt water to the ground. If the salt water is spilled, it can damage crops and 
            plants. When they are involved with offshore drilling, petroleum engineers try to 
            prevent costly spills that waste oil and pollute water and shorelines. They also 
            supervise the early stages of natural gas processing. Because petroleum engineers 
            know what it costs to produce oil and gas, some are employed by banks that lend 
            money to oil companies. Others work for government agencies that regulate oil 
            production. Experienced petroleum engineers help with research aimed at finding 
            ways to recover a greater percentage of the oil and natural gas that exists in 
            petroleum reservoirs.                            
        </p>
    </div>
</div>
<div align="center">
    <table class="botonera">
        <tr>
            <td>  
                {BUTTON_EXIT}  
                <button id="id_regresar" type=button onClick="mostrar();">
                    <img src="../../../../../{APPORG}/img/validate.png" 
                         class="accion" align='absmiddle'> Mostrar
                </button>
                <button id="id_regresar" type=button onClick="ocultar();">
                    <img src="../../../../../{APPORG}/img/cross.png" 
                         class="accion" align='absmiddle'> Ocultar
                </button>
                <button id="id_regresar" type=button onClick="cambiar();">
                    <img src="../../../../../{APPORG}/img/order_256.png" 
                         class="accion" align='absmiddle'> Cambiar
                </button>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
