<!-- BEGIN: main -->
<div id='sub_titulo'>Combo Múltiple</div>                                          
<div style="width:100%; align:center;">	                        
    <table style="width:100%">
        <tr>
            <td align='center' width="45%">
                <select id="objList" 
                        name="objList" 
                        multiple 
                        size="7" 
                        style="width: 100%" 
                        onDblClick="move('right', document.getElementById('objList'), document.getElementById('objSelected'));
                                    getValues(document.getElementById('objSelected'), document.getElementById('strArr'));
                                    valObj(document.getElementById('objSelected'));">
                    <!-- BEGIN: combo_multiple -->
                    <option value={ID}>{DESCRIPCION}</option>
                    <!-- END: combo_multiple -->
                </select>
            </td>
            <td class="botonera" style='padding: 2px; width: 10%'>
                <div>
                    <input type="button" 
                           value="> > >" 
                           onclick="move('right', document.getElementById('objList'), document.getElementById('objSelected')); 
                                    getValues(document.getElementById('objSelected'), document.getElementById('strArr'));
                                    valObj(document.getElementById('objSelected'));">
                    <br><br/>
                    <input type="button" 
                           value="< < <" 
                           onclick="move('left', document.getElementById('objList'), document.getElementById('objSelected')); 
                                    getValues(document.getElementById('objSelected'), document.getElementById('strArr'));
                                    valObj(document.getElementById('objSelected'));">
                </div>
            </td>
            <td align='center' width="45%">
                <select id="objSelected" 
                        name="objSelected" 
                        multiple 
                        size="7" 
                        style="width: 100%" 
                        onDblClick="move('left', document.getElementById('objList'), document.getElementById('objSelected')); 
                                    getValues(document.getElementById('objSelected'), document.getElementById('strArr'));
                                    valObj(document.getElementById('objSelected'));"
                        data-validation="select-multiple">
                </select>
                <input  id="strArr" 
                        name="strArr" 
                        type="hidden" 
                        value="" 
                        data-validation='required'>
            </td>  
        </tr>
    </table>                           
</div>
{BUTTONS_PANEL}
<!-- END: main -->
