<!-- BEGIN: main -->
<form name="form" method="POST"> 
    <input type="hidden" name="id_factura" id="id_factura" value = '{ID_FACTURA}'> 
    <div align="center">
        <div id='sub_titulo'>Registro de Factura</div>
        <div class="div_datos_cod_factura_fec_factura" style='width:75%;'>
            <div style="float:left;aling:left; width:35%;">
                <table class="tabla_datos_factura" width="100%" border ="0">
                    <tr>
                        <td class='subtitulo_datos' width="40%"><strong>N° Factura:</strong></td>
                        <td class='datos_per_factura' width="60%" align="left" id="id_cod_guia"></td>
                    </tr>
                </table>
            </div>
            <div style="float:right;aling:right; width:35%;">
                <table class="tabla_datos_factura" width="100%" border ="0">
                    <tr>
                        <td class='subtitulo_datos' width="40%"><strong>Fecha:</strong></td>
                        <td class='datos_per_factura' width="60%" align="left" id="id_fecha_apertura"></td>
                    </tr>
                </table>
            </div>                              
        </div>
        <div style='width:75%;'>
            <table class="" style='width:100%'>
                <tr>
                    <td class="tabla_datos_factura" width="14%"><strong>Cliente:</strong></td>
                    <td id="id_cliente" width="86%" align="left"></td>
                </tr>                      
            </table>
        </div>     
        <table id="id_tab" class="tabla_grid" width="100%">
            <thead>	
                <tr>
                    <th>Código</th><th>Producto</th><th>Precio</th><th>Cantidad</th>
                </tr>               
            </thead>
            <tbody></tbody>
        </table>
        <div align="center">
            <table class="botonera">
                <tr>
                    <td>  
                        {BUTTON_EXIT} 
                        <button id="id_llenar" type=button onClick="sendDataJson();">
                            <img src="../../../../../{APPORG}/img/download.png" class="accion" align='absmiddle'> Llenar
                        </button>
                        <button id="id_limpiar" type=button onClick="clearForm();">
                            <img src="../../../../../{APPORG}/img/deshacer.png" class="accion" align='absmiddle'> Limpiar
                        </button>
                    </td>
                </tr>
            </table>
            <input id="id_str_array_hidden" type="hidden" name="str_array_hidden">
        </div> 
    </div>            
</form>
<!-- END: main -->
