<!-- BEGIN: main -->
<div id='sub_titulo'>Separar página por pestañas</div>                                          
<div id="panel" style="display: block; clear:both;">			
    <div class="halfmoon" id ="div_navegacion"> 
        <ul>
            <li style="display:">
                <a id="Tab0" href="javascript:Tab(0,3);" style="display:">Primera
                    <img src="../../../{APPORG}/img/s_okay.png" width="10" height="10" id='chk0' style='style:hidden' border=0>
                </a>
            </li>
            <li style="display:">
                <a id="Tab1" href="javascript:Tab(1,3);" style="display:">Segunda
                    <img src="../../../{APPORG}/img/s_okay.png" width="10" height="10" id='chk1' style='visibility:hidden' border=0>
                </a>
            </li>
            <li style="display:"> 
                <a id="Tab2" href="javascript:Tab(2,3);" style="display:">Tercera
                    <img src="../../../{APPORG}/img/s_okay.png" width="10" height="10" id='chk2' style='visibility:hidden' border=0>
                </a>
            </li>
        </ul>
    </div>
    <div id='botones_solapa' >
        <table id='botones' align='center'>
            <tr>
                <td>
                    <input id=id_regresar type=button value="Atras" onClick='javascript:regresarTab(3);'>
                </td>
                <td>
                    <input id=id_seguir type=button value="Adelante" onClick='javascript:segirTab(3);'>
                </td>
            </tr>
        </table>
    </div>
    <div id='div0' class="divSolapa" align="center" title="Primera Pestaña" label="t">{SOLAPA_0}</div>
    <div id='div1' class="divSolapa" align="center" title="Segunda Pestaña" label="t" style="display:none">{SOLAPA_1}</div>                        
    <div id='div2' class="divSolapa" align="center" title="Tercera Pestaña" label="t" style="display:none">{SOLAPA_2}</div>
</div>
{BUTTONS_PANEL}
<!-- END: main -->
