<!-- BEGIN: main -->
<div id="div_deshacer_modal" style="position: fixed;padding: 16px;background: #E6E6E6;color: #333;z-index: 2002;border: 5px solid;border-color: gray;border-radius: 10px;left: 15%;top: 15%;width: 50%;height: 35%; overflow:auto; display:none;">
<br/>
    <table width="100%;" class="tabla_grid" id="id_tab_mensajero">
        <tr>
            <th colspan="3" align="center"><br/><span style="font-size:18px;"><strong>Ventana Modal</strong></span><br/><br/></th>
        </tr>
        <tr>
            <td align="center">Esta ventana puede ser considerada tipo emergente.</td>
        </tr>
    </table>
    <div align="center">
        <table class="botonera">
            <tr>
                <td>
                    <button id="id_cancelar_mensajero" type=button onClick="hideModalWindow();">
                        <img class="accion" src="../../../{APPORG}/img/cancel.png" align='absmiddle' border="0" >&nbsp;Cancelar
                    </button>
               </td>
            </tr>
        </table>
    </div>
</div>
<div id="div_deshacer_fondo_opaco" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #2E2E2E; z-index: 2001; opacity:.75; -moz-opacity: 0.75; filter: alpha(opacity=75);display:none;">
</div>
<!-- END: main -->
