<!-- BEGIN: main -->
<div id='sub_titulo'>Ventane Modal</div>                                          
<div style="width:100%;" align="center">
    <table class="botonera">
        <tr>
            <td>  
                {BUTTON_EXIT}  
                <button id="id_regresar" 
                        type=button 
                             onClick="showModalWindow();">
                    <img src="../../../../../{APPORG}/img/upload.png" 
                         class="accion" 
                         align='absmiddle'> Activar
                </button>
            </td>
        </tr>
    </table>
</div>
{MODAL_WINDOW}
<!-- END: main -->
