<!-- BEGIN: main -->
<div id='sub_titulo'>Ajax - Simple</div>                                          
<div style="width:100%; align:center;">	                        
    <table class="tabla_grid" style="width: 25%" align='center'>
        <tr>
            <th style="background-color: #BDBDBD"><b><i>Introducir dato</i></b></th>
            <th style="background-color: #BDBDBD" align="center">
                <img align="center" 
                     class="accion"
                     src="../../../../../{APPORG}/img/help.png" 
                     border="0" 
                     title="ayuda"                             
                     style='cursor:pointer;'
                     onclick="information('cuerpo', 
                                          'Información de Ayuda',
                                          'Intente con: <br>- 111111 <br>- 222222<br>- 333333', 500);">
            </th>
        </tr>
        <tr>
            <td align='left' colspan="2">
                <input id="id_cedula" 
                       name="cedula"
                       autocomplete='off' 
                       size="10" 
                       style="width: 100%;"
                       value=""
                       maxlength="15"
                       data-format='integer'
                       data-constraints='number'
                       data-validation='integer'
                       data-validation-min='8'
                       placeholder="N° DE CEDULA (######)"
                       onkeyup='sendIdToData(this.value);'>                                        
            </td>
        </tr>  
        <tr>
            <td align='left' colspan="2">
                <input id="id_nom_ape" 
                       name="nom_ape"
                       autocomplete='off' 
                       size="10" 
                       style="width: 100%;"
                       value=""
                       placeholder="NOMBRE Y APELLIDO"
                       data-validation='required'
                       readonly>                                        
            </td>
        </tr> 
        <tr>
            <td align='left' colspan="2">
                <input id="id_email" 
                    name="email"
                    autocomplete='off' 
                    size="10" 
                    style="width: 100%;"
                    value=""
                    placeholder="CORREO ELECTRONICO"
                    data-validation='email'
                    readonly>                                        
            </td>
        </tr>
    </table>                           
</div>
<div align="center">
    <table class="botonera">
        <tr>
            <td>  
                {BUTTON_EXIT}
                <button id="id_regresar" 
                        type=button 
                        onClick="initObjs(document.getElementById('contenido'));">
                    <img src="../../../{APPORG}/img/deshacer.png" 
                         class="accion" 
                         align='absmiddle'> Limpiar
                </button>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
