<!-- BEGIN: main -->
<form name="form" method="POST"> 
    <input type="hidden" name="id_factura" id="id_factura" value = '{ID_FACTURA}'> 
    <div align="center">
        <div id='sub_titulo'>Registro de Factura</div>
        <div>
        <div class="div_datos_cod_factura_fec_factura" style='width:75%;'>
            <div style="float:left;aling:left; width:35%;">
                <table class="div_datos_cod_factura_fec_factura" width="100%" border ="0">
                    <tr>
                        <td class='subtitulo_datos' width="40%">N° Factura:</td>
                        <td class='datos_per_entrada' width="60%" align="left" id="id_cod_guia">{NUMERO}</td>
                    </tr>
                </table>
            </div>
            <div style="float:right;aling:right; width:35%;">
                <table class="div_datos_cod_factura_fec_factura" width="100%" border ="0">
                    <tr>
                        <td class='subtitulo_datos' width="40%">Fecha:</td>
                        <td class='datos_per_entrada' width="60%" align="left" id="id_fecha_apertura">{FEC_FAC}</td>
                    </tr>
                </table>
            </div>                              
        </div>
        <div style='width:75%;'>
            <table class="" style='width:100%'>
                <tr>
                    <td class="sub_titulo">Cliente:</td>
                    <td align='right'>
                        <input id='id_cliente' 
                               name='cliente' 
                               value='{CLIENTE}'
                               data-validation='required'
                               style='width:100%'
                               placeholder='####################'
                               maxlength='20'
                               onKeyPress="return acceptStrUsuario(event);"
                               onkeyup="javascript: this.value = this.value.toUpperCase();">
                    </td>
                </tr>                                    
                <tr>
                    <td class="sub_titulo">Producto</td>
                    <td>
                        <select id="id_producto" 
                                name="producto" 
                                style="width: 100%" 
                                data-validation='select'>
                            <option value=null selected>Seleccione...</option>
                            <!-- BEGIN: producto -->
                            <option value={ID} codigo="{CODIGO}" precio="{PRECIO}">{DESCRIPCION}</option>
                            <!-- END: producto -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="sub_titulo">Cantidad</td>
                    <td>
                        <input id="id_cantidad" 
                               name="cantidad" 
                               type="text"                                                
                               maxlength="10" 
                               onKeyPress="return formato_numeric(this, '.', ',', event);" 
                               style="width:100%;text-align:right" 
                               data-validation="integer"
                               data-validation-min="1">
                     </td>
                </tr>
            </table>
            </div>
            <div id="addReg" style="float: left;">    
                <button type=button  onClick="addRegTab();">
                    <img class="accion" 
                         src="../../../../../{APPORG}/img/add.png" 
                         align='absmiddle' 
                         border="0"> Agregar Registro
                </button>                
            </div> 
        </div>        
        <table id="id_tab" class="tabla_grid" width="100%">
            <thead>	
                <tr>
                    <th>Código</th><th>Producto</th><th>Precio</th><th>Cantidad</th><th>SubTotal</th><th>Acción(es)</th>
                </tr>               
            </thead>
            <tbody>
                <!-- BEGIN: rows -->
                <tr class={CLASS_TR} id="{ID}">	
                    <td align="center">{CODIGO_AUX}</td>  
                    <td align="center">{DESCRIPCION_AUX}</td>
                    <td align="right">{PRECIO_AUX}</td> 
                    <td align="right">{CANTIDAD_AUX}</td>
                    <td align="right">{SUBTOTAL}</td>
                    <td align="center">                                        
                        <a onclick="delRow('id_tab',this);paintTRsClearDark('id_tab');">                                    
                            <img class="accion" 
                                 src="../../../../../{APPORG}/img/cross.png" 
                                 border="0" 
                                 title="Eliminar" 
                                 style='cursor:pointer;'>
                        </a>                                    
                    </td>
                </tr>
                <!-- END: rows -->
            </tbody>
        </table>
        <input type="hidden" name="str_array_hidden" id="id_str_array_hidden" value = ''> 
        {BUTTONS_PANEL}  
    </div>            
</form>            
<!-- END: main -->
