<!-- BEGIN: main -->
<div id='sub_titulo'>Información</div>                                          
<div style="width:100%;" align="center">
    <table class="botonera">
        <tr>
            <td>  
                {BUTTON_EXIT}  
                <button id="id_regresar" 
                        type=button onClick="alertMsg();">
                    <img src="../../../../../{APPORG}/img/help.png" 
                         class="accion" 
                         align='absmiddle'> Información
                </button>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
