<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Persona</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Pasaporte</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Fec Nac</th>
            <th>Sexo</th>
            <th>Trayectoria</th>
            <th>Explicacion</th>
            <th>Persona Tipo</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{PASAPORTE}</td>
            <td>{APELLIDOS}</td>
            <td>{NOMBRES}</td>
            <td>{FEC_NAC}</td>
            <td>{SEXO}</td>
            <td>{TRAYECTORIA}</td>
            <td>{EXPLICACION}</td>
            <td>{DES_PERSONA_TIPO}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
