<!-- BEGIN: main -->
<div id='sub_titulo'>Ajax - Llenar Tabla</div>                                          
<div style="width:100%; align:center;">	                        
    <table id="id_tbl" class="tabla_grid" width="50%"  align="center">
        <thead>	
            <tr>
                <th>Cédula</th><th>Nombre y Apelido</th><th>Correo</th><th>Estado</th>
            </tr>               
        </thead>
        <tbody></tbody>
    </table>                  
</div>
<div align="center">
    <table class="botonera">
        <tr>
            <td>  
                <button id="id_salir" type=button 
                        onClick="location.href='../../../../../{FDSOIL_AS}/index.php/admin_inicio/'">
                    <img src="../../../../../{APPORG}/img/salir.png" 
                         class="accion" 
                         align='absmiddle'> Salir
                </button> 
                <button id="id_llenar" type=button onClick="sendToFillTable();">
                    <img src="../../../../../{APPORG}/img/download.png" 
                         class="accion" 
                         align='absmiddle'> Llenar
                </button>
                <button id="id_limpiar" type=button onClick="deleteAllRowsTable('id_tbl','1');">
                    <img src="../../../../../{APPORG}/img/deshacer.png" 
                         class="accion" 
                         align='absmiddle'> Limpiar
                </button>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
