<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Minuta</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Lugar</th>
            <th>Asunto</th>
            <th>Motivo</th>
            <th>Observacion</th>
            <th>Ciudad</th>
            <th>Dependencia</th>
            <th>Ente</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{FECHA}</td>
            <td>{HORA}</td>
            <td>{LUGAR}</td>
            <td>{ASUNTO}</td>
            <td>{MOTIVO}</td>
            <td>{OBSERVACION}</td>
            <td>{DES_CIUDAD}</td>
            <td>{DES_DEPENDENCIA}</td>
            <td>{DES_ENTE}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
