<!-- BEGIN: main -->
<div  align="center">
    <div id='sub_titulo'>Mostrar y Ocultar con Panel</div>                                 
    <div>
        <table style="cursor:pointer;" onclick="onOffPanel();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img" title=" Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel" style="display: none;" >
        <table class="tabla_grid" style="width: 50%">      
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Pais:</td>
                <td>
                    <select style="width: 100%">
                        <option value=null selected>Seleccione...</option>
                    </select>  
                </td>
            </tr>  
            <tr>
                <td>Nombres:</td>
                <td>
                    <input autocomplete='off' size="43" value="" maxlength="100" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td>Trayectoria:</td>
                <td>
                    <textarea rows="2" cols="55" style="width: 100%;"></textarea>
                </td>
            </tr>
            <tr>
                <td>Sexo:</td>
                <td>
                    <input type="radio" name="sex"> Masculino
                    <input type="radio" name="sex"> Femenino
                </td>
            </tr>
        </table>
        <br>
        <img id="id_img_add" src="../../../../../{APPORG}/img/addnew_off.png" border="0" 
             title=" Agregar" style='cursor:pointer;' onclick="">
        <br><br>
    </div>
    <table id="id_tab" class="tabla_grid" width="100%">
        <thead>	
            <tr>
                <th>Pais</th><th>Nombre</th><th>Tryectoria</th><th>Sexo</th><th>Acción(es)</th>
            </tr>               
        </thead>
        <tbody></tbody>
    </table>
</div>
{BUTTONS_PANEL}
<!-- END: main -->
