<!-- BEGIN: main -->
    <div align="center">
<input type="hidden" name="id" id="id" value='{ID}'>
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="idfecha"
                           name="fecha"
                           autocomplete="off"
                           style="width: 98%;"
                           data-validation="date"
                           value="{FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora</td>
                <td>
                    <input id="idhora"
                           name="hora"
                           autocomplete="off"
                           style="width: 98%;"
                           class="time_element"
                           data-validation="time"
                           value="{HORA}"                           maxlength="8"
                           onkeypress="return acceptTime(event);"
                           readonly>
                </td>
            </tr>
            <tr>
                <td>Lugar</td>
                <td>
                    <input id="lugar"
                           name="lugar"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{LUGAR}">
                </td>
            </tr>
            <tr>
                <td>Asunto</td>
                <td>
                    <input id="asunto"
                           name="asunto"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{ASUNTO}"
                           {ASUNTO_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Ciudad</td>
                <td>
                    <select id="id_ciudad" name="id_ciudad" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: ciudad -->
                        <option value={ID_CIUDAD} {SELECTED_CIUDAD}>{DES_CIUDAD}</option>
                        <!-- END: ciudad -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Dependencia</td>
                <td>
                    <select id="id_dependencia" name="id_dependencia" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: dependencia -->
                        <option value={ID_DEPENDENCIA} {SELECTED_DEPENDENCIA}>{DES_DEPENDENCIA}</option>
                        <!-- END: dependencia -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Ente</td>
                <td>
                    <select id="id_ente" name="id_ente" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: ente -->
                        <option value={ID_ENTE} {SELECTED_ENTE}>{DES_ENTE}</option>
                        <!-- END: ente -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Motivo</td>
                <td>
                    <textarea id="motivo"
                              name="motivo"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{MOTIVO}</textarea>
                </td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td>
                    <textarea id="observacion"
                              name="observacion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->