<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Minuta Planteamiento</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelMinutaPlanteamiento();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_minuta_planteamiento" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_minuta_planteamiento" style="display: none;">
        <input id="id_minuta_planteamiento" name="id_minuta_planteamiento" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Ponente</td>
                <td>
                    <input id="ponente"
                           name="ponente"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PONENTE}">
                </td>
            </tr>
            <tr>
                <td>Planteamiento</td>
                <td>
                    <textarea id="planteamiento"
                              name="planteamiento"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{PLANTEAMIENTO}</textarea>
                </td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td>
                    <textarea id="observacion"
                              name="observacion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
        <br/>
        <button id="addReg" type="button" onClick="valEnvioMinutaPlanteamiento();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_minuta_planteamiento" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Ponente</th>
                <th>Planteamiento</th>
                <th>Observacion</th>
                <th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_minuta_planteamiento -->
            <tr id={ID} class={CLASS_TR}>
                <td>{PONENTE}</td>
                <td>{PLANTEAMIENTO}</td>
                <td>{OBSERVACION}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editMinutaPlanteamiento(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendMinutaPlanteamientoDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_minuta_planteamiento -->
        </tbody>
    </table>
</div>
<!-- END: main -->